<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Login</h3>
      </div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm);" class="form">
            <div class="form-group">
                <label for="">Email </label>
                <input value="sonijay435@gmail.com" name="email" ngModel type="email" class="form-control rounded-0" required>
              </div>
              <div class="form-group">
                  <label for="">Password </label>
                  <input type="password" name="password" ngModel class="form-control rounded-0" required>
              </div>

              <div class="form-group">
                <input type="submit" value="Login" class="form-control bg-info text-white">
              </div>
        </form>
      </div>
    </div>
  </div>
</div>
<form action=""></form>
