
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Register</h3>
      </div>
      {{ formData | json }}
      <div class="card-body">
        <form action="#" (submit)="return FormData(this);" class="form">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="">Email </label>
                <input value="sonijay435@gmail.com" type="email" class="form-control rounded-0" required>
              </div>
              <div class="form-group">
                  <label for="">Password </label>
                  <input type="password" class="form-control rounded-0" required>
              </div>
              <div class="form-group">
                <label for="">Confirm Password </label>
                <input type="password" class="form-control rouded-0" required>
              </div>

              <div class="form-group">
                <input type="submit" value="Register" class="form-control bg-primary text-white">
              </div>
        </form>
      </div>
    </div>
  </div>
</div>
<form action=""></form>
